<!-- views/profile.ejs -->
<!doctype html>
<html>
<% include ./header.ejs %>
<body>
<div class="container">
    <div class="row">
        <a href="/logout" class="btn btn-default btn-sm">Logout</a>

        <% if (user.local.email) { %>
        <!-- LOCAL INFORMATION -->
        <div class="col-sm-12">
            <div class="well">
                <h3><span class="fa fa-user"></span> Local</h3>

                <p>
                    <strong>name</strong>: <%= user.name %><br>
                    <strong>roles</strong>: <%= user.role %><br>
                    <strong>id</strong>: <%= user._id %><br>
                    <strong>email</strong>: <%= user.local.email %><br>
                    <strong>password</strong>: <%= user.local.password %>
                </p>
            </div>
        </div>
        <% } %>

        <!-- check if the user has this token (is the user authenticated with this social account) -->
        <% if (user.google.token) { %>
        <!-- GOOGLE INFORMATION -->
        <div class="col-sm-12">
            <div class="well">
                <h3 class="text-danger"><span class="fa fa-google-plus"></span> Google</h3>

                <p>
                    <strong>name</strong>: <%= user.name %><br>
                    <strong>roles</strong>: <%= user.role %><br>
                    <strong>id</strong>: <%= user.google.id %><br>
                    <strong>token</strong>: <%= user.google.token %><br>
                    <strong>email</strong>: <%= user.google.email %><br>
                    <strong>name</strong>: <%= user.google.name %>
                </p>
            </div>
        </div>
        <% } %>

        <!-- check if the user has this token (is the user authenticated with this social account) -->
        <% if (user.facebook.token) { %>
        <!-- FACEBOOK INFORMATION -->
        <div class="col-sm-12">
            <div class="well">
                <h3 class="text-primary"><span class="fa fa-facebook"></span> Facebook</h3>

                <p>
                    <strong>name</strong>: <%= user.name %><br>
                    <strong>roles</strong>: <%= user.role %><br>
                    <strong>id</strong>: <%= user.facebook.id %><br>
                    <strong>token</strong>: <%= user.facebook.token %><br>
                    <strong>email</strong>: <%= user.facebook.email %><br>
                    <strong>name</strong>: <%= user.facebook.name %><br>
                </p>
            </div>
        </div>
        <% } %>

        <!-- Races -->
        <h1>Races</h1>
        <hr>
        <div class="col-md-6">
            <div class="form-group">
                <label for="name">Name:</label>
                <input type="text" class="form-control" id="name">
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="city">City:</label>
                <input type="text" class="form-control" id="city">
            </div>
        </div>
        <button class="btn btn-success btn-new-race">New</button>
        <ul class="list-group" id="raceList">
        </ul>

        <h1>Waypoints</h1>
        <hr>
        <!-- Waypoints -->

        <div id="map" style="height: 400px; width: 100%;"></div>
        <ul class="list-group" id="waypointList">
        </ul>
    </div>
</div>

</div>
<script src="https://code.jquery.com/jquery-latest.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC41fhWPPWGRDLIeYoiegujStNytAa49Pc"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.min.js"></script>
<script type="text/javascript" src="/javascripts/client.js"></script>
<script type="text/javascript" src="/javascripts/races.js"></script>
<script type="text/javascript" src="/javascripts/waypoints.js"></script>
</body>
</html>